# Managed by Ansible.
MEMORY_GARDENER_DATA_DIR={{ memory_gardener_data_dir }}
MEMORY_GARDENER_POLICY={{ memory_gardener_config_dir }}/policy.json
MEMORY_GARDENER_WAYMINDER_URL={{ memory_gardener_wayminder_url }}
MEMORY_GARDENER_WAYMINDER_TOKEN={{ memory_gardener_wayminder_token }}
MEMORY_GARDENER_TASKBOARD_URL={{ memory_gardener_taskboard_url }}
MEMORY_GARDENER_TASKBOARD_TOKEN={{ memory_gardener_taskboard_token }}
MEMORY_GARDENER_FLEETGLASS_URL={{ memory_gardener_fleetglass_url }}
MEMORY_GARDENER_FLEETGLASS_TOKEN={{ memory_gardener_fleetglass_token }}
MEMORY_GARDENER_JUDGE_URL={{ memory_gardener_judge_url }}
MEMORY_GARDENER_JUDGE_MODEL={{ memory_gardener_judge_model }}
MEMORY_GARDENER_JUDGE_TIMEOUT={{ memory_gardener_judge_timeout }}
{% if memory_gardener_judge_api_key %}
MEMORY_GARDENER_JUDGE_API_KEY={{ memory_gardener_judge_api_key }}
{% endif %}
{% if memory_gardener_ssh_private_key %}
GIT_SSH_COMMAND=ssh -i {{ memory_gardener_config_dir }}/id_git -o UserKnownHostsFile={{ memory_gardener_config_dir }}/known_hosts -o IdentitiesOnly=yes -o BatchMode=yes
{% endif %}
